@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #191717;
    color: #f5f5f5;
    font-family: "Roboto Condensed", sans-serif;
}
.money {
    color:#00208A;
    background-color: #f5f5f5;
}

h1 {
    font-family: "Fredoka", sans-serif;
}
#light{
    position: fixed;
}

.welcome {
    font-weight: 600;
}
.btn {
    padding: 6px 10px;
    background-color: #ff9602;
    color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 4px 1px 1px 1px rgba(0,0,0,0.63);
    -webkit-box-shadow: 8px 11px 13px -7px rgba(0,0,0,0.73);
    -moz-box-shadow: 8px 11px 13px -5px rgba(0,0,0,0.73);
}
.icon_1 i{
    border: 2px s;
    padding: 2px;
    font-size: 25px;
    box-shadow: 2px 2px 3px 2px rgba(246, 144, 0, 0.5);
} 
.icon_1 h3 {
    font-weight: 700;
}
.hero {
    margin: auto;
}
.features {
    font-size: 30px;
    color: #ff9602;
}
.card{
    /* border: 7px solid #ecebea; */
    padding: 30px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 10px;
    box-shadow: 4px 1px 1px 1px rgba(43, 1, 121, 0.63);
    -webkit-box-shadow: 8px 11px 13px -7px rgba(14, 14, 14, 0.73);
    -moz-box-shadow: 8px 11px 13px -5px rgba(248, 248, 248, 0.73);
    /* box-shadow: 2px 2px 3px 2px rgba(246, 144, 0, 0.5); */
}
.card:hover {
    background-color:rgba(242, 182, 16, 0.1);
}
.card h3 {
    font-size: 20px;
    font-weight: 600;
}
.card_section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
}
.lists {
    border-left: 2px solid #ff9602;
    padding-left: 20px;
    margin-top: 10px;
}
.para {
    color: #ff9602;
}
.btn1 {
    padding: 7px;
    border-radius: 20px;
}
.nop {
    border: 2px solid #ff9602;
    width: 133.5px;
    border-radius: 20PX;
}
.ikon{
    border: 2px solid #ff9602;
    border-radius: 50%;
}
.rand1 {
    margin-top: 5px;
}
.rand1 i {
    background-color: #ff9602;
    padding: 6px;
    border-radius: 50%;
}
form{
    /* flex-wrap: wrap; */
    display: block;
}
label{
    margin-top: 4px;
}
input, textarea, select{
    /* background-color: #ff9602; */
    border: 2px solid #ff9602;
    width: 500px;
        border-radius: 10px;
}
option{
    color: #191717;
}
